@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'daisyui';

.station-container {
	display: inline-block;
	text-align: center;
}

.station-card {
	width: 100px;
	height: 75px;
	border-radius: 6px;
	overflow: hidden;
	display: flex;
	font-family: 'Arial', sans-serif;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.station-info {
	background-color: #5a5f66;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	color: white;
}
.station-letter {
	font-size: 40px;
	font-weight: bold;
	margin: 0;
	line-height: 1;
}

.station-name {
	font-size: 28px;
	font-weight: 600;
	margin-top: 10px;
}

.station-colors {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.color-bar {
	flex: 1;
}

.station-label {
	margin-top: 8px;
	font-size: 14px;
	font-weight: 600;
	color: #333;
	font-family: 'Arial', sans-serif;
}

.yellow {
	background-color: #f9e300;
}
.red {
	background-color: #c60c30;
}
.brown {
	background-color: #62361b;
}
.purple {
	background-color: #522398;
}
.orange {
	background-color: #f9461c;
}
.green {
	background-color: #009b3a;
}
.pink {
	background-color: #e27ea6;
}
